/* Common CSS */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#8199e7 !important;
    transition: 0.7s;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0px;
}

label {
    margin-top: 0;
    margin-bottom: 0px;
    color: #10101088;
    font-size: 14px;
}

.row-header {
    font-size: 32px;
    color: #94a8e9;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2.5%;

}

.content-header {
    font-size: 20px;
    color: #94a8e9;
    font-weight: 400;

}

p {
    font-size: 16px;
    color: #10101088;
    padding: None !important;

}

.main-button {
    font-size: 16px;
    padding: 2% 10%;
    background: #eeaeca;
    color: #fff;
    border: 2px solid #eeaeca;
    transition: all linear .3s;
    display: block;
    /* border-radius: 10%; */
}

.main-button:hover {
    background: #fff;
    color: #eeaeca;
    border: 2px solid #eeaeca;
}

.secondary-button{
    background-color: #fff;
    color: #8199e7;
    border:1px solid #8199e7;
    transition: .5s;
}
.secondary-button:hover{
    background-color: #8199e7; 
    border:1px solid #8199e7;
    color: #fff; 
}
.card{
    background: #fff !important;
    position: static !important;
}

.card-header{
    background: #fff !important;
}
.card-footer{
    background: #fff !important; 
}

.card-footer i{
    color: #8199e7;
}

.card-header h4{
    font-size: 18px;
}
.list-group-item{
    position: static !important;  
    background: #fff !important;  
    /* border: None !important; */
    border-radius: None !important;
}

.list-group-item.active{
    background-color: #8199e7 !important;
    border-color:  #8199e7 !important;
    color: #fff !important;

}
.form-control{
    background-color: #fff  !important;
}

/*font-family: 'Roboto', sans-serif;*/
/* font-family: 'Open Sans', sans-serif;*/


table{
    --bs-table-bg: None !important;
}
/*COMMON CSS END*/


/*NAVBAR/HEADER START*/

.navbar-light .navbar-nav .nav-link {
    transition: all linear .3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    /* color: ; */
    transition: all linear .3s;
}

/*STICKY HEADER START*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all linear .5s;
    background: #fff;
}

.navbar-bg {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    animation: menu .5s;
}

@keyframes menu {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}

.dropdown-item.active, .dropdown-item:active{
    background: #8199E7 !important;
    color: #fff !important;
}
/*STICKY HEADER END*/

/*NAVBAR/HEADER END*/


/*BANNER PART START*/
#banner-bg {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-top: 300px;
    padding-bottom: 300px; */
}
.banner2-bg{
     background: url(../images/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner-text {
    color: #ffffff;
    
    /* color:#8199e7; */
    text-align: left;
}


.banner-text  h1 {
    text-transform: uppercase;
    font-weight: 800;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #8199e7; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #8199e7; }
  }

.banner-overly {
    width: 100%;
    background: rgba(130, 130, 132, 0.241);
    padding-top: 250px;
    padding-bottom: 250px;
}

/*BANNER PART END*/

/*SERVICE PART START*/

#service-bg {
    padding-top: 80px;
    padding-bottom: 120px;
}


/*SERVICE PART END*/


/*FOOTER PART START*/
.footer h6{
    color: #8199e7;
}

/*COPYRIGHT PART START*/
.copyright-text {
    /* color: ; */
    font-size: 12px;
}

/*COPYRIGHT PART END*/



/* LOGIN START */



.login-bg{
justify-content: center;
padding: 7% 0%;
}
.login{
    border-radius: 1rem;
    
    box-shadow: 0px 10px 30px -3px rgba(0,0,0,0.1);
}
.login-text{
    color:#fff;
    height: 100%;
    text-align: left;
    padding: 10% 5%;
    border-radius: 1rem 0 0 1rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.login-text h3{
    font-weight: 600;
    /* font-family: ; */
    font-size: 48px;
}

.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
  }
  
.icon-btn{
    border: 2px solid #94a8e91a;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:rgb(238,174,202);
  }

  .icon-btn:hover{
    transition: .7s;
    background: #94a8e91a;
    color:#fff;
  }
  .sec-button{
    font-size: 16px;
    padding: 2% 10%;
    background: #fff; 
    color: #eeaeca;
    border: 2px solid #fff;
    transition: all linear .7s;
    display: block;
  }

.sec-button:hover {
    background: #fafafbf3; 
    border: 2px solid  #94a8e91a; 
}

/* REGISTER START   */
.register-bg{
    justify-content: center;
    padding: 7% 0%;
}

.reg-text{
    color:#fff;
    height: 100%;
    text-align: left;
    padding: 10% 5%;
    border-radius: 0 1rem 1rem 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.reg-text h3{
    font-weight: 600;
    font-size: 48px;
}

.restpassword-bg{
    justify-content: center;
    padding: 7% 0%;
}
.resetpassword{
    border-radius: 1rem;
    box-shadow: 0px 10px 30px -3px rgba(0,0,0,0.1);
    padding: 3%;
}

/* dasboard */
.dashboard-bg{
    justify-content: center;
    padding: 7% 0%;
}

.profile-bg{
    justify-content: center;
    padding: 7% 0%;
}

.post-bg{
    justify-content: center;
    padding: 7% 0%;
}

.welcomeimg{
    background-image: url(../images/dashboard_welcome.png);
    height: 195px;
    width: 195px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;

}
.empty_img{
    background-image: url(../images/emptylist.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.user_img{
    background-image: url(../images/user_profileimg_placeholder.png);
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}